.container {
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
}

.lista-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    text-align: center;
    padding-right: 16px;
}

.home {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 4rem;
    /* margin-top: 5rem; */
}

.lista-icones-menu {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    border-bottom: 1px solid black;
    padding: 1rem 0rem 1rem 0rem;
    width: 100%;
    cursor: pointer;
}

.lista-icones-menu p:hover {
    color: rgb(86, 86, 212);
    transition: 0.5s;
}

.icon {
    background-color: #fff;
}

p {
    margin: 0;
}

.header-fixo {
    display: flex;
    width: 100%;
    background: rgb(26, 88, 221);
    height: 5rem;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}


.container-lista{
    padding: 0;
    width: 650px;
}


.senaiLogo{
    width: 16%;
    height: 60%;
}